<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <% if (errorMessage) { %>
        <h2 class="errorMessage"><%= errorMessage %></h2>
    <% } %>
    <form action="/new-password" method="POST" class="input-container">
        <div>
            <label for="password">New Password:</label>
            <input name="password" id="password" type="text" >
        </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <a><button type="submit" class="btn">Update Password</button></a>
    </form>
<%- include('../includes/end.ejs') %>