<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <% if (errorMessage) { %>
        <h2 class="errorMessage"><%= errorMessage %></h2>
    <% } %>
    <form action="/reset" method="POST" class="input-container">
        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" >
        </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <a><button type="submit" class="btn">Reset Password</button></a>
    </form>
<%- include('../includes/end.ejs') %>