<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <% if (errorMessage) { %>
        <h2 class="errorMessage"><%= errorMessage %></h2>
    <% } %>
    <form action="/signup" method="POST" class="input-container">
        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input name="confirmPassword" id="confirmPassword" type="confirmPassword" class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <button class="btn">Sign-up</button>
    </form>
<%- include('../includes/end.ejs') %>