<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <%- include('../includes/navigation.ejs') %>
    <main class="container">
        <% for (let prod of product) { %>
            <div class="product-container">
                <div class="product-image-container">
                    <img src="<%= prod.imageUrl %>" alt="<%= prod.title %>">
                </div>
                <div class="product-title">
                    <h2><%= prod.title %> || $<%= prod.price %></h2>
                </div>
                <a href="/delete-product/<%= prod._id %>?edit=true" class="btn"><button class="btn">Delete</button></a>
            </div>
        <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>