<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <%- include('../includes/navigation.ejs') %>
    <main id="container">
        <% if (products.length > 0) { %>
            <% products.forEach(product => { %>
                <div class="product-container">
                    <div class="product-image-container">
                        <img src="<%= product.productId.imageUrl %>" alt="<%= product.productId.title %>">
                    </div>
                    <div class="product-title">
                        <h2><%= product.productId.title %> || Quantity:<%= product.quantity %></h2>
                    </div>
                    <form action="/delete-cart-item" method="POST" class="btn">
                        <a><button type="submit" class="btn">Delete</button></a>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <input type="hidden" name="productId" value="<%= product.productId._id %>">
                    </form>
                </div>
            <% }) %>
            <br>
            <form action="/set-order" method="POST" class="btn">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <a><button type="submit" class="btn">Order</button></a>
            </form>
        <% } else { %>
            <div class="blank-cart-text">
                <h1>NO PRODUCTS FOUND!</h1>
                <p>Add some <a href="/products">here</a></p>
            </div>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>